@model WebBaseDatos.Edificio

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Edificio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EspecificaciónTécnica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EspecificaciónTécnica)
        </dd>
    </dl>
</div>
<div>
    <h3>Salas</h3>
    <a asp-controller="Salas" asp-action="Create" asp-route-id="@Model.Nombre">Agregar nueva sala a edificio</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre Sala
                </th>
                <th>
                    Capacidad
                </th>
                <th>
                    Número Piso
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var salaModel in (IEnumerable<Sala>)ViewData["Salas"])
            {
                <tr>
                    <td>
                        @salaModel.Nombre
                    </td>
                    <td>
                        @salaModel.Capacidad
                    </td>
                    <td>
                        @salaModel.NroPiso
                    </td>
                    <td>
                        <a asp-controller="Salas" asp-action="Edit" asp-route-id="@salaModel.Nombre">Editar</a> |
                        <a asp-controller="Salas" asp-action="Details" asp-route-id="@salaModel.Nombre">Detalles</a> |
                        <a asp-controller="Salas" asp-action="Delete" asp-route-id="@salaModel.Nombre">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Nombre">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
