@model WebBaseDatos.Sala

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sala</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NroPiso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NroPiso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EdificioNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EdificioNombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Nombre">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
