@model IEnumerable<WebBaseDatos.Sala>

@{
    ViewData["Title"] = "Index";
}

<h2>Salas</h2>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-id="Nombre">@Html.DisplayNameFor(model => model.Nombre)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-id="Capacidad">@Html.DisplayNameFor(model => model.Capacidad)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-id="nroPiso">@Html.DisplayNameFor(model => model.NroPiso)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-id="Edificio_nombre">@Html.DisplayNameFor(model => model.EdificioNombre)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroPiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdificioNombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Nombre">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Nombre">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Nombre">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
